{% load notifications_tags %}
{% load static %}
<head>
<style type="text/css">
  table,th,td{
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 10px;
  }
.notify {
  position: absolute;
  top:10px;
  right:100px;
}

.cont {
  display: none;
  position: absolute;
  min-width: 250px;
}

.cont a {
  display: block;
  text-decoration: none;
}
.notify:hover .cont {display: block;}

</style>
</head>
<h2>{{user.utype}}</h2>
<h2>Welcome {{user.get_full_name}}!!!</h2>
<h3>Finance Approval required SO</h3>
<table>
  <tr>
  <th>Material</th>
  <th>Quantity</th>
  <th>Net price</th>
  <th>Approve</th>
  <th>Remove</th>
  </tr>
{% for element in data1 %}
<tr>
<td> {{ element.material }}</td>
<td> {{ element.quantity }}</td>
<td> {{ element.net_price }}</td>
<td>
<form method='POST'>
    {% csrf_token %}
    <input hidden value={{element.id}} name="id">
    <button type="submit"> approve</button>
</form>
</td>
<td><a href="{% url 'delete_order' element.id %}"><button>remove</button></a></td>
</tr>
{% endfor %}
</table>
<h3>Approval for Finance Cleared</h3>
<table>
  <tr>
  <th>Material</th>
  <th>Quantity</th>
  <th>Net price</th>
  <th>Approve</th>
  </tr>
{% for element in data2 %}
<tr>
<td> {{ element.material }}</td>
<td> {{ element.quantity }}</td>
<td> {{ element.net_price }}</td>
<td>
<form method='POST'>
    {% csrf_token %}
    <input hidden value={{element.id}} name="id">
    <button type="submit"> approve</button>
</form>
</td>
</tr>
{% endfor %}
</table>
<h3>Approval for final payments recieved</h3>
<table>
  <tr>
  <th>Material</th>
  <th>Quantity</th>
  <th>Net price</th>
  <th>Approve</th>
  </tr>
{% for element in data3 %}
<tr>
<td> {{ element.material }}</td>
<td> {{ element.quantity }}</td>
<td> {{ element.net_price }}</td>
<td>
<form method='POST'>
    {% csrf_token %}
    <input hidden value={{element.id}} name="id">
    <button type="submit"> approve</button>
</form>
</td>
</tr>
{% endfor %}
</table>
<h3>Apporval to close order</h3>
<table>
  <tr>
  <th>Material</th>
  <th>Quantity</th>
  <th>Net price</th>
  <th>Approve</th>
  </tr>
{% for element in data4 %}
<tr>
<td> {{ element.material }}</td>
<td> {{ element.quantity }}</td>
<td> {{ element.net_price }}</td>
<td>
<form method='POST'>
    {% csrf_token %}
    <input hidden value={{element.id}} name="id">
    <button type="submit"> approve</button>
</form>
</td>
</tr>
{% endfor %}
</table>
<br>
<a href="{% url 'logout' %}"><button>logout</button></a>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
{% live_notify_list%}
