{% load notifications_tags %}
{% load static %}
<head>
<style type="text/css">
  table,th,td{
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 10px;
  }
  .notify {
  position: absolute;
  top:10px;
  right:100px;
}

.cont {
  display: none;
  position: absolute;
  min-width: 250px;
}

.cont a {
  display: block;
  text-decoration: none;
}
.notify:hover .cont {display: block;}
</style>
</head>
<h2>{{user.utype}}</h2>
<h2> Welcome {{user.get_full_name}}!!! </h2>
{% block content %}
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">submit</button>
  </form>
  <h3>your previous orders</h3>
  <table>
  <tr>
  <th>Material</th>
  <th>Quantity</th>
  <th>Client</th>
  <th>Net price</th>
  <th>Status</th>
  </tr>
  {% for element in data %}
  <tr>
  <td>{{ element.material }}</td>
  <td>{{ element.quantity }}</td>
  <td>{{ element.client }}</td>
  <td>{{ element.net_price }}</td>
  <td>{{ element.status }}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
<br>
<a href="{% url 'logout' %}"><button>logout</button></a>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
{% live_notify_list%}

